*{
  margin: 0;
  padding: 0;
}
#tabs {
  display: flex;
}

#tabs > div > button {
  background-color: inherit;
  border: none;
  padding: 10px 50px;
}

#tabs > div > button:hover {
  background-color: rgb(220, 220, 220);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.selected {
  background-color: rgb(220, 220, 220);
}

.content {
  border: solid 1px ;
}
